---
import "../styles/global.css";
import { Font } from "astro:assets";
import { Image } from "astro:assets";
import imageRogacki from "../img/berlin-rogacki.webp";
import imageFleischerei from "../img/fleischerei.webp";
import imageMatjes from "../img/matjes-broetchen.webp";
import imageTobi from "../img/tobi.webp";
import imageBroiler from "../img/broiler.webp";
import imageTobiBallhaus from "../img/claerchens-ballhaus-tobi-kuechenaufgang.webp";
import imageFeuer from "../img/feuer.webp";
import { SITE_URL } from "../utils/constants";

const META_DESCRIPTION =
  "Tobias Beck is a Berlin-based chef and culinary innovator who is shaping todays and tomorrows culture through his passion for fire-based cooking and a deep appreciation for German cuisine";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tobias Beck</title>
    <meta name="description" content={META_DESCRIPTION} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={SITE_URL} />
    <meta property="og:title" content="Tobias Beck" />
    <meta property="og:description" content={META_DESCRIPTION} />
    <meta property="og:image" content={`${SITE_URL}/og-image.webp`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={SITE_URL} />
    <meta property="twitter:title" content="Tobias Beck" />
    <meta property="twitter:description" content={META_DESCRIPTION} />
    <meta property="twitter:image" content={`${SITE_URL}/og-image.webp`} />
    <Font cssVariable="--font-arimo" preload />
  </head>
  <body>
    <div class="relative">
      <div class="group relative">
        <Image
          src={imageFleischerei}
          alt="Fleischerei"
          loading="lazy"
          layout="constrained"
          class="fade-in-image w-full max-md:h-[33vh] max-md:object-cover"
          tabindex="0"
        />
        <p
          class="absolute right-0 bottom-0 translate-y-[5px] px-4 py-2 text-[10px] tracking-[0.075em] opacity-0 transition-all duration-500 group-focus-within:translate-y-0 group-focus-within:opacity-100 group-hover:translate-y-0 group-hover:opacity-100 md:text-[12px]"
        >
          Image Credit
        </p>
      </div>
      <div
        class="pointer-events-none absolute top-0 left-0 flex h-full w-full items-center justify-center text-center text-white"
      >
        <div>
          <h1 class="text-[max(10vw,48px)] leading-none font-bold">
            Tobias Beck
          </h1>
          <p class="text-[max(16px,1.5vw)]">
            <span class="stagger-fade-in" style="animation-delay: 0.5s;"
              >Chef</span
            >
            <span class="stagger-fade-in" style="animation-delay: 0.55s;">
              –
            </span>
            <span class="stagger-fade-in" style="animation-delay: 0.6s;"
              >Creator</span
            >
            <span class="stagger-fade-in" style="animation-delay: 0.65s;">
              –
            </span>
            <span class="stagger-fade-in" style="animation-delay: 0.7s;"
              >Editor</span
            >
            <span class="stagger-fade-in" style="animation-delay: 0.75s;">
              –
            </span>
            <span class="stagger-fade-in" style="animation-delay: 0.8s;"
              >Author</span
            >
          </p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2">
      <div class="group relative">
        <Image
          src={imageMatjes}
          alt="Matjes"
          loading="lazy"
          layout="constrained"
          class="fade-in-image w-full"
          tabindex="0"
        />
        <p
          class="absolute right-0 bottom-0 translate-y-[5px] px-4 py-2 text-[10px] tracking-[0.075em] opacity-0 transition-all duration-500 group-focus-within:translate-y-0 group-focus-within:opacity-100 group-hover:translate-y-0 group-hover:opacity-100 md:text-[12px]"
        >
          Image Credit
        </p>
      </div>
      <div class="group relative">
        <Image
          src={imageTobi}
          alt="Tobias"
          loading="lazy"
          layout="constrained"
          class="fade-in-image w-full"
          tabindex="0"
        />
        <p
          class="absolute right-0 bottom-0 translate-y-[5px] px-4 py-2 text-[10px] tracking-[0.075em] opacity-0 transition-all duration-500 group-focus-within:translate-y-0 group-focus-within:opacity-100 group-hover:translate-y-0 group-hover:opacity-100 md:text-[12px]"
        >
          Image Credit
        </p>
      </div>
    </div>

    <div class="group relative">
      <Image
        src={imageRogacki}
        alt="Rogacki"
        loading="lazy"
        layout="constrained"
        class="fade-in-image w-full max-md:h-[33vh] max-md:object-cover"
        tabindex="0"
      />
      <p
        class="absolute right-0 bottom-0 translate-y-[5px] px-4 py-2 text-[10px] tracking-[0.075em] opacity-0 transition-all duration-500 group-focus-within:translate-y-0 group-focus-within:opacity-100 group-hover:translate-y-0 group-hover:opacity-100 md:text-[12px]"
      >
        Image Credit
      </p>
    </div>

    <div class="group relative">
      <Image
        src={imageBroiler}
        alt="Broiler"
        loading="lazy"
        layout="full-width"
        class="w-full"
        tabindex="0"
      />
      <p
        class="absolute right-0 bottom-0 translate-y-[5px] px-4 py-2 text-[10px] tracking-[0.075em] opacity-0 transition-all duration-500 group-focus-within:translate-y-0 group-focus-within:opacity-100 group-hover:translate-y-0 group-hover:opacity-100 md:text-[12px]"
      >
        Image Credit
      </p>
      <div
        class="absolute top-0 left-0 flex w-full justify-center px-[50px] pt-[100px] text-center text-[30px] leading-[1.2]"
      >
        <p class="max-w-[25em] text-[max(16px,1.5vw)]">
          A Berlin-based chef and culinary innovator who is shaping todays and
          tomorrows culture through his passion for fire-based cooking and a
          deep appreciation for German cuisine
        </p>
      </div>
    </div>

    <div class="relative flex items-center justify-center">
      <div class="group relative">
        <Image
          src={imageFeuer}
          alt="Feuer"
          loading="lazy"
          layout="full-width"
          class="w-full"
          tabindex="0"
        />
        <p
          class="absolute right-0 bottom-0 translate-y-[5px] px-4 py-2 text-[10px] tracking-[0.075em] opacity-0 transition-all duration-500 group-focus-within:translate-y-0 group-focus-within:opacity-100 group-hover:translate-y-0 group-hover:opacity-100 md:text-[12px]"
        >
          Image Credit Feuer
        </p>
      </div>
      <div class="group absolute w-[50%]">
        <Image
          src={imageTobiBallhaus}
          alt="Tobias Ballhaus"
          loading="lazy"
          layout="constrained"
          class="fade-in-image w-full"
          tabindex="0"
        />
        <p
          class="absolute right-0 bottom-0 translate-y-[5px] px-4 py-2 text-[10px] tracking-[0.075em] opacity-0 transition-all duration-500 group-focus-within:translate-y-0 group-focus-within:opacity-100 group-hover:translate-y-0 group-hover:opacity-100 md:text-[12px]"
        >
          Image Credit
        </p>
      </div>
    </div>

    <div class="px-[50px] py-[100px] text-center">
      <p class="text-[max(16px,1.5vw)]">
        Executive Chef – <a
          href="https://claerchensball.haus/"
          target="_blank"
          class="transition-opacity hover:opacity-60">Clärchens Ballhaus</a
        ><br />
        Founder – <a
          href="https://ember-ofc.com/"
          target="_blank"
          class="transition-opacity hover:opacity-60"
          >Ember, Open Fire Cooking</a
        ><br />
        Founder & Editor-in-Chief – <a
          href="https://www.instagram.com/gut_geist/?hl=en"
          target="_blank"
          class="transition-opacity hover:opacity-60">Gutgeist Magazin</a
        ><br />
        Creator & Author – Deutschland, Dein Essen
      </p>
    </div>
    <footer class="flex gap-[20px] px-[50px] py-[50px] text-[max(16px,1.5vw)]">
      <a
        class="transition-opacity hover:opacity-60"
        href="https://www.instagram.com/tobiasbeck__/"
        target="_blank">Instagram</a
      >
      <a class="transition-opacity hover:opacity-60" href="" target="_blank"
        >Vimeo</a
      >
      <a
        class="ml-auto transition-opacity hover:opacity-60"
        href="mailto:tobias@tobiasbeck.de?subject=Contact%20from%20Website"
        >contact</a
      >
    </footer>

    <div class="group relative">
      <video
        src="/snippet.mp4"
        autoplay
        muted
        playsinline
        loop
        class="fade-in-image w-full"
        tabindex="0"></video>
      <p
        class="absolute right-0 bottom-0 translate-y-[5px] px-4 py-2 text-[10px] tracking-[0.075em] opacity-0 transition-all duration-500 group-focus-within:translate-y-0 group-focus-within:opacity-100 group-hover:translate-y-0 group-hover:opacity-100 md:text-[12px]"
      >
        Video Credit
      </p>
    </div>
  </body>
</html>

<script>
  const targets = Array.from(document.querySelectorAll(".fade-in-image"));
  function callback(
    entries: IntersectionObserverEntry[],
    observer: IntersectionObserver,
  ) {
    entries.forEach((entry: IntersectionObserverEntry) => {
      if (entry.isIntersecting) {
        console.log(entry);
        entry.target.classList.add("fade-in");
      }
    });
  }
  const observer = new IntersectionObserver(callback, {
    threshold: 0,
    rootMargin: "0px 0px -25% 0px",
  });
  targets.forEach((target) => {
    observer.observe(target);
  });
</script>
