---
import "../styles/global.css";
import { Font } from "astro:assets";
import { Image } from "astro:assets";
import imageRogacki from "../img/berlin-rogacki.webp";
import imageFleischerei from "../img/fleischerei.webp";
import cloudy1 from "../img/cloudy-1.webp";
import cloudy2 from "../img/cloudy-2.webp";
import brezel from "../img/brezel.webp";
import imageTobiBallhaus from "../img/claerchens-ballhaus-tobi-kuechenaufgang.webp";
import imageDoor from "../img/door.webp";
import { SITE_URL } from "../utils/constants";

const META_DESCRIPTION =
  "Tobias Beck is a Berlin-based chef and culinary innovator who is shaping todays and tomorrows culture through his passion for fire-based cooking and a deep appreciation for German cuisine";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tobias Beck</title>
    <meta name="description" content={META_DESCRIPTION} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={SITE_URL} />
    <meta property="og:title" content="Tobias Beck" />
    <meta property="og:description" content={META_DESCRIPTION} />
    <meta property="og:image" content={`${SITE_URL}/og-image.webp`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={SITE_URL} />
    <meta property="twitter:title" content="Tobias Beck" />
    <meta property="twitter:description" content={META_DESCRIPTION} />
    <meta property="twitter:image" content={`${SITE_URL}/og-image.webp`} />
    <Font cssVariable="--font-arimo" preload />
  </head>
  <body>
    <div class="relative">
      <Image
        src={imageFleischerei}
        alt="Fleischerei"
        loading="lazy"
        layout="constrained"
        class="fade-in-image w-full max-md:h-[33vh] max-md:object-cover"
        tabindex="0"
      />

      <div
        class="pointer-events-none absolute top-0 left-0 flex h-full w-full items-center justify-center text-center text-white"
      >
        <div>
          <h1 class="text-[max(10vw,48px)] leading-none font-bold">
            Tobias Beck
          </h1>
          <p class="text-[max(16px,1.5vw)]">
            <span class="stagger-fade-in" style="animation-delay: 0.5s;"
              >Chef</span
            >
            <span class="stagger-fade-in" style="animation-delay: 0.55s;">
              –
            </span>
            <span class="stagger-fade-in" style="animation-delay: 0.6s;"
              >Tast Maker</span
            >
            <span class="stagger-fade-in" style="animation-delay: 0.65s;">
              –
            </span>
            <span class="stagger-fade-in" style="animation-delay: 0.7s;"
              >Creator</span
            >
            <span class="stagger-fade-in" style="animation-delay: 0.75s;">
              –
            </span>
            <span class="stagger-fade-in" style="animation-delay: 0.8s;"
              >Author</span
            >
          </p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2">
      <Image
        src={cloudy1}
        alt="Matjes"
        loading="lazy"
        layout="constrained"
        class="fade-in-image w-full"
        tabindex="0"
      />

      <Image
        src={cloudy2}
        alt="Tobias"
        loading="lazy"
        layout="constrained"
        class="fade-in-image w-full"
        tabindex="0"
      />
    </div>

    <Image
      src={imageRogacki}
      alt="Rogacki"
      loading="lazy"
      layout="constrained"
      class="fade-in-image mb-2 w-full max-md:h-[33vh] max-md:object-cover md:mb-3"
      tabindex="0"
    />

    <div class="group relative mb-2 md:mb-3">
      <Image
        src={brezel}
        alt="Brezel"
        loading="lazy"
        layout="full-width"
        class="w-full"
        tabindex="0"
      />

      <div
        class="absolute top-0 left-0 flex w-full justify-center px-[50px] pt-[50px] text-center text-[30px] leading-[1.2]"
      >
        <p class="max-w-[25em] text-[max(16px,3vw)]">
          A Berlin-based chef and culinary innovator who is shaping todays and
          tomorrows culture through his passion for fire-based cooking and a
          deep appreciation for German cuisine
        </p>
      </div>
    </div>

    <div class="relative mb-2 flex items-center justify-center md:mb-3">
      <p
        class="absolute top-0 left-0 w-full pt-[50px] text-center text-[max(20px,4vw)]"
      >
        Neue deutsche küche
      </p>
      <Image
        src={imageDoor}
        alt="Door"
        loading="lazy"
        layout="full-width"
        class="w-full"
        tabindex="0"
      />

      <div class="group absolute w-[38%]">
        <Image
          src={imageTobiBallhaus}
          alt="Tobias Ballhaus"
          loading="lazy"
          layout="constrained"
          class="fade-in-image w-full"
          tabindex="0"
        />
      </div>
    </div>

    <div class="bg-black px-[50px] py-[100px] text-center">
      <p class="text-[max(13px,1.5vw)]">
        Executive Chef – <a
          href="https://www.instagram.com/luna.claerchens/"
          target="_blank"
          class="transition-opacity hover:opacity-60">Clärchens</a
        >
        <a
          class="transition-opacity hover:opacity-60"
          href="https://claerchensball.haus/"
          target="_blank">Ballhaus</a
        ><br />
        Founder – <a
          href="https://ember-ofc.com/"
          target="_blank"
          class="transition-opacity hover:opacity-60"
          >Ember, Open Fire Cooking</a
        ><br />
        Founder & Editor-in-Chief – <a
          href="https://www.instagram.com/gut_geist/?hl=en"
          target="_blank"
          class="transition-opacity hover:opacity-60">Gutgeist Magazin</a
        > – <a
          href="https://faremag.com/products/gut-geist-the-berlin-issue?srsltid=AfmBOoq5LFLh6m9mO5RpkPXXKSijfX_cy7nben463CG15aLFrJgATYdM"
          target="_blank"
          class="transition-opacity hover:opacity-60">Buy</a
        ><br />
        Creator & Author – Deutschland, Dein Essen (Documentary, coming soon)
      </p>
    </div>
    <footer
      class="mb-2 flex flex-col gap-[25vh] bg-black px-[50px] py-[50px] text-[max(13px,1.5vw)] md:mb-3"
    >
      <div class="flex flex-wrap gap-[0.75em] max-md:justify-center">
        <a
          class="transition-opacity hover:opacity-60"
          href="https://www.instagram.com/tobiasbeck__/"
          target="_blank">Instagram</a
        >
        <a
          class="transition-opacity hover:opacity-60"
          href="https://vimeo.com/794683775"
          target="_blank">Vimeo</a
        >
        <a
          class="transition-opacity hover:opacity-60"
          href="https://apps.apple.com/us/app/creme-create-memorable-meals/id1638361026"
          target="_blank">App</a
        >

        <span class="group relative md:ml-auto">
          <a
            href="mailto:Jessica@gut-geist.com"
            class="transition-opacity hover:opacity-60">Collaborations</a
          >
          <span
            class="pointer-events-none absolute bottom-full left-1/2 z-10 min-w-[20.5em] -translate-x-1/2 border-[1px] border-white/20 bg-black px-2 py-1 text-xs tracking-wider text-white opacity-0 shadow-lg transition-opacity duration-200 group-hover:opacity-100"
            >For exclusive collaborations and professional inquiries: <br />
            Jessica@gut-geist.com</span
          >
        </span>
        <a
          class="transition-opacity hover:opacity-60"
          href="mailto:hello@gut-geist.com?subject=Contact%20from%20Website"
          >contact</a
        >
      </div>
      <div class="flex flex-col gap-[0.75em]">
        <div class="flex justify-center">Impressum</div>
        <div class="text-center text-[12px] text-white/50">
          <p class="mr-[10px] md:inline md:whitespace-nowrap">
            <span class="text-white/75">Angaben gemäß § 5 TMG</span> Beck Culinary
            Arts Group UG – Wiener Straße 10 – 10999 Berlin
          </p>
          <p class="mr-[10px] md:inline md:whitespace-nowrap">
            <span class="text-white/75">Geschäftsführer</span> Tobias Beck
          </p>
          <p class="mr-[10px] md:inline md:whitespace-nowrap">
            <span class="text-white/75">Umsatzsteuer-ID</span> DE455095255
          </p>
          <p class="mr-[10px] md:inline md:whitespace-nowrap">
            <span class="text-white/75">Handelsregister</span> HRB 272425 B
          </p>

          <p class="mr-[10px] md:inline md:whitespace-nowrap">
            <span class="text-white/75">FOTO CREDITS:</span>
            Nino Valpiani, Jonas Kolahdoozan, Jose Cuevas
          </p>
        </div>
      </div>
    </footer>
    <video
      src="
          snippet.mp4"
      autoplay
      muted
      playsinline
      loop
      class="fade-in-image w-full"
      tabindex="0"
    >
    </video>

    <script>
      const targets = Array.from(document.querySelectorAll(".fade-in-image"));
      function callback(
        entries: IntersectionObserverEntry[],
        observer: IntersectionObserver,
      ) {
        entries.forEach((entry: IntersectionObserverEntry) => {
          if (entry.isIntersecting) {
            console.log(entry);
            entry.target.classList.add("fade-in");
          }
        });
      }
      const observer = new IntersectionObserver(callback, {
        threshold: 0,
        rootMargin: "0px 0px -25% 0px",
      });
      targets.forEach((target) => {
        observer.observe(target);
      });
    </script>
  </body>
</html>
